body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://ik.imagekit.io/eurtb7gikn4/krisztian-tabori-nZGNVOvEYio-unsplash_UPTrVOgxc_gNu8iVv69.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1652515309575);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}
